:root {
    --royalBlueDark: #3951A5;
    --white: #FFFFFF;
    --black: #000000;
    --ceruleanForest: #659EC9;
    --shadowBlue: #7990B5;
    --coolGrey: #8F9ABF;
    --violetBlue: #3951A5;
    --lightPeriwinkle: #D4D9F1;
    --midnightBlue: #1E1576;
    --alabaster: #ECEBE4;
}

body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

.light-theme {
    --bg: var(--lightPeriwinkle);
    --fontColor: var(--royalBlueDark);
    --btnBg: var(--ceruleanForest);
    --btnFontColor: var(--royalBlueDark);
}

.dark-theme {
    --bg: var(--midnightBlue);
    --fontColor: var(--alabaster);
    --btnBg: var(--coolGrey);
    --btnFontColor: var(--alabaster);
}

.btn {
    position: absolute;
    top: 20px;
    left: 500px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}
.back_home {
    position: absolute;
    top: 20px;
    left: 700px;
    height: 50px;
    width: 150px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}