:root {
    --royalBlueDark: #3951A5;
    --white: #FFFFFF;
    --black: #000000;
    --ceruleanForest: #659EC9;
    --shadowBlue: #7990B5;
    --coolGrey: #8F9ABF;
    --violetBlue: #3951A5;
    --lightPeriwinkle: #D4D9F1;
    --midnightBlue: #1E1576;
    --alabaster: #ECEBE4;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

.light-theme {
    background-color: #ffba08;
    color: #d00000;
    /* --btnBg: var(--ceruleanForest);
    --btnFontColor: var(--royalBlueDark); */
}

.dark-theme {
    background-color: #00193b;
    color: #00607a;
}

.dark-theme hr {
    size: 1rem;
    color: #00607a;
}

.light-theme hr {
    size: 1rem;
    color: #d00000;
}


#inputForm h2 {
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: underline;
}

#inputForm label {
    font-weight: 400;
    font-size: 1rem;
}

@media (max-width: 1200px) {
    #headingAndThemeChg h1 {
        font-size: 4rem;
    }

    #headingAndThemeChg #themeSwitch {
        width: 6rem;
        height: 3rem;
    }

    #headingAndThemeChg #backHome {
        font-size: 0.6rem;
        width: 6rem;
        height: 3rem;
    }

    #inputSummary h2 {
        font-size: 1.25rem;
    }

    #inputSummary #unbalancedElems {
        font-size: 1rem;
    }
}

@media (min-width: 300px) and (max-width: 768px) {
    #headingAndThemeChg h1 {
        font-size: 2.5rem;
    }

    #headingAndThemeChg #themeSwitch {
        width: 4rem;
        height: 3rem;
    }

    #inputSummary h2 {
        font-size: 1rem;
    }

    #inputSummary #unbalancedElems {
        font-size: 0.75rem;
    }
}

@media (min-width: 300px) and (max-width: 485px) {
    #inputSummary h2 {
        font-size: 0.5rem;
    }

    #inputSummary #unbalancedElems {
        font-size: 0.5rem;
    }
}

#themeSwitch {
    height: 4rem;
    width: 8rem;
}

.light-theme #resultReacOrProd {
    color: #ec2e09;
    font-weight: bolder;
}

.light-theme .elemOnResult {
    color: #ec2e09;
    font-weight: 700;
}

.dark-theme #resultReacOrProd {
    color: #13617c;
    font-weight: bolder;
}

.dark-theme .elemOnResult {
    color: #13617c;
    font-weight: 700;
}